@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Shippori+Mincho:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    background-color: #783937;
    font-family: 'Lato', sans-serif;
    
  }

.pageContents {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: center;
 }
 

#navStyle {
  padding: 1rem 0.5rem;
  text-align: center;
  
}

#nav_btn{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid transparent;
    text-align: center;
}

#createMargin {
    margin-right: 0.5rem;
  }
  #createMarginLeft {
    margin-left: 1rem;
    margin-right:0.5rem;
  }
  
#nav_btn:hover{
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid #783937;
    
}

#dropdown{
    background-color: #783937;
}

#userDropDown {
  font-size: 20px;
  color: white;
  margin: 0.1rem;
}

hr.solid {
  border-top: 2px solid white;
}

hr.light {
  border-top: 2px solid rgb(51, 50, 50);
}

.fontstyleH1{
    color: white;
    font-size: 38px;
    font-family: 'Lora', serif;
}
H1{
  color: black;
  font-size: 20px;
  font-family: 'Lora', serif;
}

input, textarea {
  background-color: black;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #783937 !important;
  outline-width: 0;
  font-weight: 400;
}



#started_btn:hover {
	border: none;
	color: #F0DFD1;
	box-shadow: 5px 5px 10px #999;
	transition: 0.3s;
}

.card {
  border-radius: 0;
  border: none;
  background-color: #F0DFD1;
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px;
}

.card2 {
  width: 50%;
  background-color: gray;
}

.responsive {
    position: fixed;
    display: block;
    width: 400px;

    background:#F0DFD1;
    box-shadow: 30px 35px #783937;
    bottom: 300px;
    right: 300px;
    height: auto;
  }

body{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  position: fixed;
  bottom: 170px;
  right: 250px;
  transform: translate(-50%, -50%);
}

.link_wrapper{
  position: relative;
}

.btnA{
  display: block;
  width: 250px;
  height: 60px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(0deg, rgba(253,251,249,1) 0%, rgba(240,223,209,1) 100%);
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid transparent;
  transition: all .35s;
  border-radius: 10px;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: 1;
  transition: all .35s;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: black;
  transition: all .35s;
  
}

.btnA:hover{
  width: 230px;
  border: 3px solid #783937;
  background: transparent;
  color: #783937;
}

.btnA:hover + .icon{
  border: 3px solid #783937;
  right: -25%;
  fill: 783937;
}
.header{
	height: auto;
  margin-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  background: #783937;
  color: black;
  font-size: 30px;
}

.header1{
	height: fixed;
  position: absolute;
  text-align: center;
  background: transparent;
  color: black;
  z-index: 8;
  margin: auto;
  


}


.heading {
  margin-bottom: 60px !important;
}

::placeholder {
  color: #000 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000 !important;
}

::-ms-input-placeholder {
  color: #000 !important;
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px;
}


#logo {
  width: 80px;

}

#started_btn {
  border-radius: 50px;
  color: black;
  position: fixed;

  background-color: #fff;
  padding: 15px;
  width: 300px;
  min-width: 200px;
  cursor: pointer;
  border: none;
  bottom: 180px;
  right: 300px;

}

#started_btn:hover {
  border-radius: 50px;
  color: black;
  background-color: #fff;
  padding: 15px;
  cursor: pointer;
  border: 10px #783937;
  margin-top: 40px;
}

.caption{
	font-size: 18px;
	text-align: center;
    width: 100%;
}

#started_a{
  color: #000;
}

#started_a:hover {
  color: #000;
}

.bottom {
  width: 100%;
  margin-top: 50px !important;
}

.sm-text {
  font-size: 15px;
}

.banner-info{
	margin-top: -50px;
    margin-left: -50px;
    margin-right: 50px;
    font-family: 'Lora', serif;
    color:#fff;
}
footer2{
  font-weight: 100;
	position:relative;
	bottom:0;
	left:0;
	right:0;
	background:#fff;
	height:auto;
	width:100vw;
	font-family: 'Josefin Sans', sans-serif;
	padding-top:50px;
  padding-bottom: 20px;
	color: #212121;
}
footer{
  font-weight: 100;
	position:relative;
	bottom:0;
	left:0;
	right:0;
	background:#fff;
	height:auto;
	width:100vw;
	font-family: 'Josefin Sans', sans-serif;
	padding-top:50px;
  padding-bottom: 20px;
	color: #212121;
}
.footer-content{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	text-align:center;
}

.footer-content h3{
	font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
	font-style:normal;
	font-weight:400;
	font-size:25px;
	line-height:20px;
	text-transform:capitalize;
}

.footer-content p{
	font-family: 'Josefin Sans', sans-serif;
	font-style:normal;
	font-size:20px;
	max-width:500px;
	margin:10px auto;
	line-height:28px;
	
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
.section{
	width: 100.75%;
	min-height: 60vh;
	background-color: #F0DFD1;
  left: 0;
  right: 0;
  top: 1000px;
  bottom: 0;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
}
.container{
	width: 80%;
	padding-top: 80px;
}
.content-section{
  position: relative;
	float: left;
  margin-left: -50px;
	width: 50%;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
  text-align: center;
  margin-top: -5px;
}
.content-section .content h3{
	margin-top: 10px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: 'Lora', serif;
	font-size: 20px;
	line-height: 1.5;
}
.content-section .content li{
	margin-top: 10px;
  font-weight: bold;
	font-family: 'Lora', serif;
	font-size: 18px;

}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:10%;
}
.image-section img{
	width: 10%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}
}
.title2{
  width: 100%;
  text-align: center !important;
  padding-top: 80px;
  background-color: #783937;
}
.fontsz{
  font-size: 50px;
  color: #fff;
}
.solid2{
  border-top: 5px solid #fff;
  width: 75vh;
  margin:0 auto;
}
.fix-div{
  position:fixed; 
  height:100%; 
  width:100%; 
  left:0; 
  top:50px; 
  z-index:1;
}

.max-width {
  position:static; 
  z-index:1; 
  margin-top: 150px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #F0DFD1;
  background-color: #F0DFD1;
  border-radius: 10px;
  padding: 40px 50px 35px 50px;
}

.question p{
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 3vmin;
}
.answer{
  font-family: 'Lato', sans-serif;
  font-size: 2.5vmin;
}

#notLoggedInBtns:hover{
  text-decoration: none;
  color : white;
  width: 100%;
  height: 60px;
  background-color: #783937;
  text-align: center;
  padding: 15px;
  margin: 4px;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#loggedInIcons {
  font-size: 80px;
  margin-top: 4px;
}

.btnLogged {
  padding: 0px 40px;
}
#loggedInBtns{
  text-decoration: none;
  color : black;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 6px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#loggedInBtns:hover{
  text-decoration: none;
  color : white;
  width: 100%;
  height: 60px;
  background-color: #783937;
  text-align: center;
  padding: 15px;
  margin: 6px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.loginText {
  background-color: white !important;
  border-radius: 0px 15px 15px 0 !important;
  padding: 12px 15px 12px 15px !important;
  width: 85%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}
#iconLogin{
  background-color: #403234;
  text-align: center;
  color: white;
  padding: 14px;
  border-radius: 15px 0px 0px 15px;
 
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #783937 !important;
  outline-width: 0;
  font-weight: 400;
}

#login_btn:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

#notLoggedIn {
  width: 300px;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: #F0DFD1;
}
#loggedIn {
  width: 400px;
  padding: 25px;
  border-radius: 25px;
  background-color: #F0DFD1;
}

#notLoggedInBtns{
  text-decoration: none;
  color : black;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 4px;
  border-radius: 25px;
  border: 2px solid #783937;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
a.dropdown-toggle {
  border: none;
  outline: none;
}

#dropDown{
  background-color: #F0DFD1;
  padding: 25px;
}

#dropdownbtns{
  text-decoration: none;
  color: black;
  margin: 10px;
}

#dropdownMenuButton{
  background: transparent;
}


@media screen and (max-width: 1500px) {
  #smolPageContainer {
    -moz-transform: scale(0.9, 0.9) !important;
    zoom: 0.85 !important;
    zoom: 85% !important;
  }
}
