@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Shippori+Mincho:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato&family=PT+Sans+Narrow&family=Shippori+Mincho:wght@400;500&display=swap');

* { -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  }

body {
    background-color: #783937;
    font-family: 'Lato', sans-serif;
     width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
  }
 
.pageContents {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: center;
 }
 

#navStyle {
  padding: 1rem 0.5rem;
  text-align: center;
  
}

#nav_btn{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid transparent;
    text-align: center;
}

#createMargin {
    margin-right: 0.5rem;
  }
  #createMarginLeft {
    margin-left: 1rem;
    margin-right:0.5rem;
  }
#userDropDown {
  font-size: 20px;
  color: white;
  margin: 0.1rem;
  
}
  
#nav_btn:hover{
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid #783937;
    
}

#dropdown{
    background-color: #783937;
}

hr.solid {
  border-top: 2px solid black;
}

#notLoggedIn {
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 20px;

}
#loggedIn {
  width: 400px;
  padding: 25px;
  border-radius: 25px;
  background-color: #F0DFD1;
}

#notLoggedInBtns{
  text-decoration: none;
  color : black;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 4px;
  border-radius: 10px;
  border: 2px solid #783937;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
a.dropdown-toggle {
  border: none;
  outline: none;
}
#notLoggedInBtns:hover{
  text-decoration: none;
  color : white;
  width: 100%;
  height: 60px;
  background-color: #783937;
  text-align: center;
  padding: 15px;
  margin: 4px;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#loggedInIcons {
  font-size: 80px;
  margin-top: 4px;
}

.btnLogged {
  padding: 0px 40px;
}
#loggedInBtns{
  text-decoration: none;
  color : black;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 6px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#loggedInBtns:hover{
  text-decoration: none;
  color : white;
  width: 100%;
  height: 60px;
  background-color: #783937;
  text-align: center;
  padding: 15px;
  margin: 6px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.loginText {
  background-color: white !important;
  border-radius: 0px 15px 15px 0 !important;
  padding: 12px 15px 12px 15px !important;
  width: 85%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}
#iconLogin{
  background-color: #403234;
  text-align: center;
  color: white;
  padding: 14px;
  border-radius: 15px 0px 0px 15px;
 
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #783937 !important;
  outline-width: 0;
  font-weight: 400;
}

#login_btn:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}





.heading {
  margin-bottom: 40px !important;
}

::placeholder {
  color: #000 !important;
  opacity: 0.5;
}


#logo {
  width: 80px;

}

#login_btn {
  border-radius: 15px;
  color: #fff;
  background-color: rgb( 120, 57, 55 , 0.5);
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: 20px auto 0px auto;

  width: 60%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#login_btn:hover {
  border-radius: 15px;
  color: #fff;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: 20px auto 0px auto;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



#login_a{
  color: #000;
}

#login_a:hover {
  color: #000;
}

.bottom {
  width: 100%;
  margin-top: 20px !important;
}

.sm-text {
  font-size: 15px;
}



.currentSession.active {
  
  background-color: #F0DFD1;
  border: none;
  color: black;
  opacity: 1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  width: 180px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.currentSession {
  background-color: #F0DFD1;
  opacity: 0.5;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: not-allowed;
  width: 180px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card {
  border-radius: 0;
  border: none;
  background-color: #F0DFD1;
  padding: 5px;
}

.timer{
  position: relative;
 
}

.time {
  position: absolute;

}

.time{
  font-size: 40px;
  color: #fff;
}

svg{
  display: inline-block;
  vertical-align: middle;
  margin-top: -50px;
  
 
}
circle{
  stroke-width: 10px;
  fill: transparent;
  stroke-linecap: round;
  height: 100px;
  
}

#circle1{
  stroke: rgba(255, 255, 255, 0.4);
}

#circle2{
  stroke:#403234;
  stroke-width: 15px;
  transition: 0.1s linear;
}
.timers {
  width: 50%;
  margin: 30px 0px;
  padding: 40px 30px;
  border-radius: 50px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*
.time {
  background-color: black;
  position: relative;
  margin: auto;
  margin-top: 25%;
  box-sizing: inherit;
  opacity: 0.5;
  border: none;
  padding: 25px 125px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}*/

.time {
  background: rgb(120,55,55);
  background: linear-gradient(0deg, rgba(120,55,55,0.5060399159663865) 0%, rgba(64,64,64,0.5032387955182073) 100%);

  position: absolute;
  margin: auto;
  margin-left: 20%;
  margin-top: 20%;
  box-sizing: inherit;
  border: none;
  padding: 20px 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;

}

.timeNumber{
  font-size: 65px;
  font-family: 'Shippori Mincho', serif;
}

#timerStart_btn {
  flex: 1 1 auto;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background-size: 200% auto;
  color: white;
  padding: 15px 50px;
  border-radius: 25px;
  border: 4px solid rgba(255, 255, 255, 0.4);
  font-size: 26px;
 
}

#timerStart_btn:hover {
  box-shadow: 0 0 10px 0 #F0DFD1 inset, 0 0 10px 4px #F0DFD1;
}

.skip_btn {
  border-radius: 50px;
  color: black;
  background-color: transparent;
  padding: 15px 10px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  font-size: 30px;
  display: none;
}
.skip_btn.active {
  border-radius: 50px;
  color: black;
  background-color: transparent;
  padding: 15px 10px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  font-size: 30px;

}
#sessions_btns {
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 25px;
  
}
#indivIcon:hover {
  border-radius: 50px;
  color: #F0DFD1;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 26px;
}

#timerIcons:hover {
  color: #783937;
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#timerIcons {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;

}

.currentSessionName {
  color: white;
  font-size: 36px;
}
#sessions_btns {
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 30px;
  margin-top: 10px;
}
#hrWhite{
  border-top: 2px solid white;
  width: 70%
}
#hrWhite2{
  border-top: 2px solid white;
  width: 70%;
  margin: auto;
}
#hrBlack{
  border-top: 2px solid black;
  width: 100%
}
.sessionsList {
  width: 60%;
  margin: 30px 0px;
  padding: 20px 10px;
  border-radius: 15px;
  box-sizing: content-box;
  background-color: rgb(240, 223, 209, 0.8);
  border: 2px solid #F0DFD1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: white;
}
.sessionsList:hover {
  width: 60%;
  margin: 30px 0px;
  padding: 20px 10px;
  border-radius: 15px;
  box-sizing: content-box;
  background-color:#F0DFD1;
  border: 2px solid #F0DFD1;
  color: #783937;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sessionListName {
  font-size: 22px;
  border: none;
  color: #783937;
  
}
.sessionListInput {
  font-size: 22px;
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: black;
}
.sessionOnTimerInput {
  font-size: 18px;
  background-color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: black;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
}
#expandIcon:hover{
  cursor: pointer;
}
#expandIcon2{
  color:white;
}
#expandIcon2:hover{
  cursor: pointer;
  color:#F0DFD1;
}

#addSession_btn {
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px;
  width:100%;
}
#addSession_btn:hover {
  border-radius: 50px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px;
  width:100%;
}


.modal-content {
  background-color: #F0DFD1;
  border: 2px solid transparent
}
.modal-header {
  text-align: center;
}
.modal-footer {
  justify-content: center;
}
#modal-save {
  background-color:rgb( 120, 57, 55, 0.8)
}
#modal-save:hover {
  background-color:rgb( 120, 57, 55)
}

.sessionsTimer {
  height: 200px;
  padding: 0px 20px;
}
.notesTimer {
  background-color: rgb(255, 255, 255, 0.5);
  height: 120px;
  width: 100%;
  border: 20px;
  text-align: left;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.notesTimerInput {
  background-color: transparent;
  height: 85px;
  width: 100%;
  border: 20px;
  text-align: left;
 
  overflow-y: scroll;
  overflow-x: hidden;
}
.notesTimerInput2 {
  background-color: white;
  height: 130px;
  width: 100%;
  border: 20px;
  text-align: left;
  padding: 10px;
 
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}


textarea {
  resize: none;
}
#progressTracker {
  width: 10%;
  height: 30px;
  background-color: #403234;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 15px;
  
}
#progressBar {
  width: 100%;
  background-color: rgba(240,223,209, 0.5);
  border-radius: 15px;
}

.percentNum {
  font-size: 16px;
  color: white;
}
#sessSaveBtn {
  padding: 10px 20px;
  background-color: rgb( 120, 57, 55, 0.3);

}
#sessSaveBtn:hover {
  padding: 10px 20px;
  background-color: rgb( 120, 57, 55);
  color: white;

}

#sessionIcons {
  font-size: 24px;
  color: black;
}
 #sessionIcons:hover {
  font-size: 24px;
  color: rgb( 120, 57, 55);
}

.sessionHeader {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.sessionHeader:hover {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: white
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.emailCard{
  width: 60%;
  margin: 30px 0px;
  padding: 40px 30px;
  border-radius: 50px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;


  
}

.emailCard2{
  width: 40%;
  margin: 30px 0px;
  padding: 40px 30px;
  border-radius: 50px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.emailVerificationHeader {
  color: black;
  font-size: 40px;
}

.emailConfirmBtn {
  border-radius: 20px;
  color: #fff;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  width: 250px;
  border: none;
  margin: 15px 10px;
  border: 2px solid transparent;
}

.emailCancelBtn {
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  width: 250px;
  border: none;
  margin: 15px 10px;
  border: 2px solid white;
}
.emailCancelBtn:hover, .emailConfirmBtn:hover {
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  width: 250px;
  border: none;
  margin: 15px 10px;
  border: 2px solid #783937;
}

.emailInput{
  background-color: white;
  border-radius: 20px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}


#signUpContainer{
  margin: auto;
}
.card1 {
  width: 60%;
  padding: 40px 30px 10px 30px;
  background-color: #F0DFD1;
  border-radius: 15px;
  
}

.card0 {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 80%;
  margin: auto;
}

.card2 {
  width: 40%;
  background-color: #F0DFD1;
}
.regCard {
  background-color: #F0DFD1;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.form-message{
  text-align: center;
  color: #fff;
  padding: 10px 0;
  text-transform: capitalize;
  background:#783937;
  font-size: 12px;
  display: none;
}
.form-message p {
  margin: 0;
}

.regScroll {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;

}
.modal-content {
  min-height: 400px;
  max-height: 400px;
  padding: 20px;
  overflow-y: scroll;
}

#termsAndConditions{
  background-color: none;
  text-decoration: underline;
}
#termsAndConditions:hover{
  background-color: none;
  text-decoration: underline;
  border-bottom: 2px solid black;
}
.terms {
  text-decoration: underline;
}

.mainRegistration{
  padding: 10px;
}
.mycolSignUp{
  padding-left: 0;
  padding-right: 0;
  max-width: 100px;
  max-height: 100%;
}
.xcolSignUp{
  padding-left: 50px;
  padding-right: 50px;
  width: 600px;
}
#titleSignUp{
  font-weight: bold;
  color: #783937;
}
#btnOnSignUp{
  border-radius: 20px;
  color: #fff;
  background-color: rgb( 120, 57, 55 , 0.5);
  padding: 15px;
  cursor: pointer;
  border: 2px solid #783937;
  width: 100%;
}
#btnOnSignUp:hover{
  border-radius: 20px;
  color: #fff;
  background-color: rgb( 120, 57, 55);
  padding: 15px;
  cursor: pointer;
  border: 2px solid #783937;
  width: 100%;
}
.spanSignUp{
  font-size: 15px;
  font-weight: bold;
}
.backToLogin{
  text-decoration: underline;
  color: #783937 !important;
}
.regForm {
  background-color: white;
  border-radius: 20px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}

/* ALL USER ACCOUNTS*/
.assessmentCard1 {
  width: fit-content;
  margin: 20px 5px;
  padding: 30px 20px 80px 90px;
  padding-right: -100px!important;
  border-radius: 15px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.assessmentContent1 {
  background-color: white;
  width: fit-content;
  margin-top: -10px;
  border-radius: 20px;
  padding: 0px 30px;
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.titleUser{
  font-size: 35px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 4px;
  margin-top: 30px;
  margin-left: -140px;
}
.has-search .form-control {
  margin-top: 30px;
  padding-left: 2.375rem;
  border-radius: 10px;
  border: #000;
  width: 400px;
  margin-right: -190px;
}

.has-search .form-control-feedback {
  position: absolute;
  margin-top: 30px;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: black;
}
.backMenu {
  background-color : #783937;
  color: black;
  padding: 10px 20px;
  border-color: #783937;
  border: none;
}
#mybutton {
  position: fixed;
  bottom: -4px;
  left: 10px;
  border: none;
}
/* ASSESSMENT */
.assessmentCard {
  width: 1000px;
  margin: 20px 5px;
  padding: 25px 30px 40px 30px;
  border-radius: 15px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.assessmentContent {
  background-color: white;
  border-radius: 20px;
  padding: 0px 30px;
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;

}

#assessmentSubmit{
  background-color: rgb( 120, 57, 55, 0.3);
  padding: 10px 20px
}
#assessmentSubmit:hover{
  background-color: rgb( 120, 57, 55);
  padding: 10px 20px;
  color: white;
}





/* TO-DO LIST */

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 70;
  left: 0;
  background: rgb(55,50,64);
  background: linear-gradient(0deg, rgba(55,50,64,1) 0%, rgba(64,50,52,1) 100%);
  padding-top: 20px;
  float:left;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: black;
}
#biggerContainer {
  height: 800px;
  padding: 0px ;
  padding-left: 200px;
  padding-right: 30px;
  position: relative;
}
.todoContainer {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  position: relative;
  float: left;
  width: 100%
  
}

.maxWidth {
  max-width:1800px;
}

#tasks_view {
  display: flex;

}
.taskName {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.taskName:focus {
  border: none;
  border-radius: 10px;
}
.taskName:active {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
.taskName2 {
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}


#toDO {
  margin: 5px;
  color: black;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  position: relative;
  margin: 10px 20px;
  display: block;
}
#todoDrop {
  font-size: 16px;
  color: black;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidebarList {
  border: 2px solid #403234;
  padding: 10px;
}
.sidebarList:hover {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

#dropDown{
  background-color: #F0DFD1;
  padding: 25px;
  border-radius: 10px;
}

#dropdownbtns{
  text-decoration: none;
  color: black;
  margin: 10px;
}

.todoCard {
  width: 340px;
  margin: 30px 5px;
  padding: 25px 20px 40px 20px;
  border-radius: 15px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: rgb(253,251,249);
  background: linear-gradient(0deg, rgba(253,251,249,1) 0%, rgba(240,223,209,1) 100%);
}

.todoTitle{
  font-size: 20px;
}

#todoBody{
  min-height: 600px;
  max-height: 600px;
  overflow-x: auto;

}
#todoMajorBody{
  min-height: 500px;
  max-height: 500px;
  overflow-x: auto;

}

.timeTodoInput {
  width:30px;
  text-align: right;
  background-color: #F0DFD1;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.scroll {
  max-height: 100px;
  overflow-x: auto;
}


.subTask{
  min-height: 80px;
  max-height: 100%;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;

}
.collapse1{
  height: 100%;
  background-color: black;
  position: overlay;
}
.wrapper{
  height: 100%;
  background-color: white;
  position: overlay;
  
}
.subTask:hover{
  min-height: 80px;
  max-height: 100%;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
  border: 1px solid #783937;

}
.moreBtn{
  border: 1px solid transparent;
  background-color: transparent;
}
.noteSubTask {
  height: 80px;
}

.addSubTask{
  height: 80px;
  width: 100%;
  background-color: transparent;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 10px;

}

#subTaskName:hover {
  color: #783937;
  cursor: pointer;
 
}

.todoTime {
  font-size: 14px;
}

.todoTitle2 {
  font-size: 20px;
  text-align: center;
  background-color: #F0DFD1;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.todoTitle2:focus {
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 10px;
}

.todoAddCard1 {
  width: 250px;
  margin: 30px 10px;
  padding: 25px 10px 40px 10px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color:rgba(240,223,209, 0.5);
  
}

.todoAddCard1:hover {
  width: 250px;
  margin: 30px 10px;
  padding: 25px 10px 40px 10px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color:rgba(240,223,209);
  
}
/* CREATE GROUPED TASK */
.groupedTask{
  width: 450px;
  margin: 5px 5px;
  padding: 25px 30px 40px 30px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.groupedInput {
  width: 80%;
  margin: auto;
}

#timeGroup {
  margin-top: 10px;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  margin: auto;
}

#subBtn {
  background-color: rgb( 120, 57, 55, 0.3);
}



#subBtn:hover, #subBtn2:hover {
  background-color: rgb( 120, 57, 55);
  color: white;
}

.groupedSess {
  min-height: 280px;
  max-height: 280px;
  width: 80%;
  margin: auto;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;
  box-sizing: content-box;
  padding: 30px;
  overflow-x: hidden;
  

}

#addSubGroup:hover, #trashIcon:hover {
  color: #783937;
  cursor: pointer;
}

#grouped_btns {
  border-radius: 15px;
  width: 70%;
  color: white;
  background-color: rgb( 120, 57, 55, 0.6 );
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: auto;
  
}
#grouped_btns2 {
  border-radius: 15px;
  width: 70%;
  color: white;
  background-color: rgb( 120, 57, 55, 0.4);
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: auto;
}
#grouped_btns:hover, #grouped_btns2:hover {
  border-radius: 15px;
  width: 70%;
  color: white;
  background-color: rgb( 120, 57, 55);
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



/* ROUTINES */
.titleRoutine{
  font-size: 38px;
  color: white;
  font-family: 'EB Garamond', serif;
  margin-bottom: 4px;
}
.routineCard {
    width: 60%;
    margin: 30px 0px;
    padding: 20px 10px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: transparent;
    border: 2px solid #F0DFD1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: white;

}
.routinesCard {
  width: 700px;
  margin: auto;
  border-radius: 50px;
  box-sizing: content-box;
  background-color: transparent;
 
  color: white;
  text-align: center;
}


.routineHeader {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  
  color: white;
  padding: 10px;
  
}
.routineHeader:hover {
  color: white;
}
.color:hover {
  background-color: #403234;
  border-bottom: 1px solid transparent;
  color: white;
}

.color {
  background-color:  rgb(64, 50, 52, 0.8);

 padding: 20px 0px;
  align-items: center;
  height: 100px;
  border-radius: 20px;
  color: white;
}
.dropbtn1 {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.dropbtn1:hover, .dropbtn1:focus {
  color: black;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  margin-top: -10px;
}
#routineDrop1 {
  font-size: 16px;
  color: white;
  z-index: -1;
  margin-top: -5px;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {background-color: #ddd;}

.show {display: block;}

.routineNameInput {
  font-size: 22px;
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: #783937;
}

#routineName {
  font-size: 22px;
}
#routineTime {
  font-size: 22px;
}
#routineIcons {
  font-size: 16px;
}
#routineDrop {
  font-size: 16px;
  color: white;
}
#routineIcons:hover, #routineDrop:hover {
  font-size: 16px;
  color: white;
}

.subRoutines{
  max-height: 100%;
  background: transparent;
  margin: 45px 0px 0px 0px;
  border-radius: 20px;
  text-align: center;
 
}
.subRoutinesBody {
  padding: 0px 20px;
}

.subRoutinesInfo{
  width: 620px;
  height: 12px;
  background: #F0DFD1;
  padding: 30px 20px 40px 20px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid transparent;
  color: black;
}

.subRoutinesInfoText{
  font-size: 18px;
  margin: 4px
}
.subRoutinesInfo:hover{
  width: 620px;
  height: 12px;
  background: #F0DFD1;
  padding: 30px 20px 40px 20px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #403234;
  color: black;
}

.indivSubRoutines{
  width: 620px;
  height: 24px;
  background: #F0DFD1;
  padding: 40px 20px;
  margin: 2px 0px 0px 0px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid transparent;
  color: black;
}

.indivSubRoutines:hover{
  width: 620px;
  height: 24px;
  background: #F0DFD1;
  padding: 40px 20px;
  margin: 2px 0px 0px 0px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #403234;
  color: black;
}
#dropdownMenuButton{
  background: transparent;
}

/* VIEW ROUTINES */
.routineSummaryCard{ 
  width: 325px;
  margin: 30px 0px;
  background-color: #403234;
  min-height: 350px;
  max-height: 500px;
  color: white;
  padding: 35px 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #403234;
}

.viewSubRoutineCard {
  width: 850px;
  margin: 30px 40px;
  padding: 35px 45px;
  min-height: 500px;
  max-height: 800px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: hidden;
}

.titleRoutine1 {
  font-size: 24px;
}

#routine_btn {
  border-radius: 25px;
  color: White;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  border: none;
  border: 2px solid #F0DFD1;
}
#routine_btn2 {
  border-radius: 25px;
  color: #fff;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  border: none;
  border: 2px solid #888888;
}

#routine_btn2:hover, #routine_btn:hover {
  border-radius: 25px;
  color: #fff;
  background-color: rgb(240, 223, 209, 0.5);
  padding: 15px;
  cursor: pointer;
  border: none;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.routineSess{
  font-size: 20px;
}

.routineNote {
  height: 100px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sessionsRoutine {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 350px;
  max-height: 250px;
  width: 100%;
}
.timeRoutine {
  width: 80px;
  margin-top: 10px;
  border-radius: 5px;
  height: 40px;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display:none;
  margin-top: 2px;
}
#routineSessInput{
  width: 180px;
  height: 80px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 2px solid transparent;
  overflow: auto;
}
#routineNoteInput {
  min-height: 100px;
  max-height: 120px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 2px solid transparent;
  overflow-y: scroll;
  padding: 20px;
}
/* input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}*/

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} 

/*
:invalid {
  
} /*


/* EDIT PROFILE */
.editProfile {
  width: 450px;
  margin: 50px 5px;
  padding: 25px 30px 40px 30px;
  border-radius: 15px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fullInput {
  width: 100%;
  margin: auto;
}

#form_btns {
  border-radius: 15px;
  width: 55%;
  color: white;
  background-color: rgb( 120, 57, 55, 0.5 );
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: 3px auto;
  
}
#form_btns2 {
  border-radius: 15px;
  width: 55%;
  color: white;
  background-color: rgb( 120, 57, 55, 0.2);
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: 3px auto;
}
#form_btns:hover, #form_btns2:hover {
  border-radius: 15px;
  width: 55%;
  color: white;
  background-color: rgb( 120, 57, 55);
  padding: 15px;
  cursor: pointer;
  border: none;
  margin: 3px auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* CHANGE PASSWORD */
.fullInput2 {
  width: 88%;
  margin: auto;
  height: 40px;
  background-color: white;
  border-radius: 0px 15px 15px 0px;
  padding: 20px 35px 20px 15px;

}
#iconForm{
  background-color: #403234;
  text-align: center;
  color: white;
  padding: 12px;
  border-radius: 15px 0px 0px 15px;
 
}

/* EDIT PROFILE */
.forgotPass {
  width: 450px;
  margin: 100px 5px;
  padding: 25px 30px 40px 30px;
  border-radius: 15px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#emailInput {
  width: 40%;
  margin: auto;
  height: 50px;
}

/* USER REPORTS */

.userInfoReportsCard{ 
  width: 325px;
  margin: 30px 0px;
  background-color: #F0DFD1;
  min-height: 350px;
  max-height: 500px;
  color: black;
  padding: 35px 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #F0DFD1;
}

.inputNameReports {
  font-size: 20px;
  margin-top: 3px;
}

.reportsCard {
  width: 1000px;
  margin: 30px 40px;
  padding: 35px 45px;
  min-height: 700px;
  max-height: 700px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.reportsTableCard {
  background-color: white;
  border-radius: 20px;
  padding: 0px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

}

input[type="date"] { 
  background: white;
  color: black;
  padding: 10px
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.titleReports {
  font-size: 18px;
  margin-bottom: 5px;
}

.summaryNo {
  width: 100px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: auto;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* SPOTIFY */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-btn {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  z-index: 1;
  position:fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 10px;
  width: 100px;
}


/* The popup chat - hidden by default */
.spotify-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid transparent;
  z-index: 9;
  border-radius: 10px;
}

/* Add styles to the form container */
.spotify-container {
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
}

/* Full-width textarea */
.spotify-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.spotify-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.spotify-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.spotify-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.spotify-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* ADMIN */
.dashboardTitle {
  font-size: 28px;
  color: black;
}

.dashboardCard {
  background-color: #F0DFD1;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 60px;
  width: 450px;
}

#dashboardMenu {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 20px;
  font-size: 20px;
}
#dashboardMenu2 {
  background-color:rgb( 120, 57, 55, 0.5);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 20px;
  font-size: 20px;
}

.adminInfoReports{ 
  width: 350px;
  margin: 30px 0px;
  background-color: #F0DFD1;
  min-height: 350px;
  max-height: 500px;
  color: black;
  padding: 35px 35px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #F0DFD1;
  overflow-y: auto;
  overflow-x: hidden;
}

.summaryNameCol {
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.summaryNameCol:hover {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}


@media screen and (max-width: 992px) {
  .card1 {
      width: 100%;
      padding: 40px 30px 10px 30px;
      
  }

  .card2 {
      width: 100%;
  }

  .right {
      margin-top: 100px !important;
      margin-bottom: 100px !important;
  }
  .time {
    padding: 40px 30px !important;
  }
  .sidenav {padding-top: 15px;padding-right: 15px;}
  .sidenav a {font-size: 18px;}
  .todoCard {
    padding: 40px 30px;
  }
  .todoContainer {
    margin-left: 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 10px !important;
  }

  .card2 {
      padding: 50px;
  }

  .right {
      margin-top: 50px !important;
      margin-bottom: 50px !important;
  }
  .time {
    padding: 40px 30px !important;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .todoContainer {
    margin-left: 10% !important;
  }
}

@media screen and (max-width: 1400px) {
  .todoContainer {
    margin-left: 2% !important;
  }

}