
body {
    background-color: #783937;
  }

#navStyle {
  background-color: white;
  padding: 1rem 0.5rem;
  text-align: center;
}

#nav_btn{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid transparent;
    text-align: center;
}

#createMargin {
    margin-right: 0.5rem;
  }
  #createMarginLeft {
    margin-left: 1rem;
    margin-right:0.5rem;
  }
  
#nav_btn:hover{
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid #783937;
    
}

#dropdown{
    background-color: #783937;
}