@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Shippori+Mincho:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato&family=PT+Sans+Narrow&family=Shippori+Mincho:wght@400;500&display=swap');


body {
    background-color: #783937;
    font-family: 'Lato', sans-serif;
     width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
  }
 
.pageContents {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: center;
 }
 

#navStyle {
  padding: 1rem 0.5rem;
  text-align: center;
  
}

#nav_btn{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid transparent;
    text-align: center;
}

#createMargin {
    margin-right: 0.5rem;
  }
  #createMarginLeft {
    margin-left: 1rem;
    margin-right:0.5rem;
  }
#userDropDown {
  font-size: 20px;
  color: white;
  margin: 0.1rem;
  
}
  
#nav_btn:hover{
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid #783937;
    
}

#dropdown{
    background-color: #783937;
}

hr.solid {
  border-top: 2px solid black;
}

#notLoggedIn {
  width: 300px;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: #F0DFD1;
}
#loggedIn {
  width: 400px;
  padding: 25px;
  border-radius: 25px;
  background-color: #F0DFD1;
}

#notLoggedInBtns{
  text-decoration: none;
  color : black;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 4px;
  border-radius: 25px;
  border: 2px solid #783937;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
a.dropdown-toggle {
  border: none;
  outline: none;
}
#notLoggedInBtns:hover{
  text-decoration: none;
  color : white;
  width: 100%;
  height: 60px;
  background-color: #783937;
  text-align: center;
  padding: 15px;
  margin: 4px;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#loggedInIcons {
  font-size: 80px;
  margin-top: 4px;
}

.btnLogged {
  padding: 0px 40px;
}
#loggedInBtns{
  text-decoration: none;
  color : black;
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 6px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#loggedInBtns:hover{
  text-decoration: none;
  color : white;
  width: 100%;
  height: 60px;
  background-color: #783937;
  text-align: center;
  padding: 15px;
  margin: 6px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.loginText {
  background-color: white;
  border-radius: 25px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #783937 !important;
  outline-width: 0;
  font-weight: 400;
}

#login_btn:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.card {
  border-radius: 0;
  border: none;
  background-color: #F0DFD1;
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px;
}

.card2 {
  width: 50%;
  background-color: gray;
}
.regCard {
  width: 100%;
  background-color: gray;
  margin-top: 80px;
  border-radius: 20px;
}



.heading {
  margin-bottom: 60px !important;
}

::placeholder {
  color: #000 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000 !important;
}

::-ms-input-placeholder {
  color: #000 !important;
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px;
}


#logo {
  width: 80px;

}

#login_btn {
  border-radius: 50px;
  color: #fff;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  border: none;
  margin-top: 40px;
}

#login_btn:hover {
  border-radius: 50px;
  color: black;
  background-color: #F0DFD1;
  padding: 15px;
  cursor: pointer;
  border: 10px #783937;
  margin-top: 40px;
}



#login_a{
  color: #000;
}

#login_a:hover {
  color: #000;
}

.bottom {
  width: 100%;
  margin-top: 50px !important;
}

.sm-text {
  font-size: 15px;
}



.currentSession {
  
  background-color: #F0DFD1;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 100px;
  cursor: pointer;
  width: 150px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nextSession {
  background-color: #F0DFD1;
  opacity: 0.5;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 100px;
  cursor: pointer;
  width: 150px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card {
  border-radius: 0;
  border: none;
  background-color: #F0DFD1;
  padding: 5px;
}

.timers {
  width: 50%;
  margin: 30px 0px;
  padding: 40px 30px;
  border-radius: 50px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.time {
  background-color: #000000;
  position: relative;
  margin: auto;
  margin-top: 25%;
  box-sizing: inherit;
  opacity: 0.5;
  border: none;
  padding: 25px 125px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.timeNumber{
  font-size: 65px;
  font-family: 'Shippori Mincho', serif;
}

#timerStart_btn {
  border-radius: 25px;
  color: #fff;
  background-color: #783937;
  padding: 15px 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 26px;
  border:none;
  box-shadow: 5px 5px 5px #888888;
}

#timerStart_btn:hover {
  border-radius: 25px;
  color: black;
  background-color: #783937;
  padding: 15px 50px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  font-size: 26px;
  box-shadow: 5px 5px 5px #888888;
}

#skip_btn {
  border-radius: 50px;
  color: black;
  background-color: transparent;
  padding: 15px 10px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  font-size: 30px;
}
#sessions_btns {
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 25px;
}
#indivIcon:hover {
  border-radius: 50px;
  color: #F0DFD1;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 26px;
}
#timerIcons:hover {
  color: #783937;
  cursor: pointer;
}

.currentSessionName {
  color: white;
  font-size: 36px;
}
#sessions_btns {
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 30px;
  margin-top: 10px;
}
#hrWhite{
  border-top: 2px solid white;
  width: 70%
}
#hrWhite2{
  border-top: 2px solid white;
  width: 70%;
  margin: auto;
}
#hrBlack{
  border-top: 2px solid black;
  width: 100%
}
.sessionsList {
  width: 60%;
  margin: 30px 0px;
  padding: 20px 10px;
  border-radius: 50px;
  box-sizing: content-box;
  background-color:#783937;
  border: 2px solid #F0DFD1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: white;
}
.sessionsList:hover {
  width: 60%;
  margin: 30px 0px;
  padding: 20px 10px;
  border-radius: 50px;
  box-sizing: content-box;
  background-color:#F0DFD1;
  border: 2px solid #F0DFD1;
  color: #783937;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sessionListName {
  font-size: 22px;
}
#expandIcon:hover{
  cursor: pointer;
}
#expandIcon2{
  color:white;
}
#expandIcon2:hover{
  cursor: pointer;
  color:#F0DFD1;
}

#addSession_btn {
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px;
  width:100%;
}
#addSession_btn:hover {
  border-radius: 50px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px;
  width:100%;
}



.emailCard{
  width: 60%;
  margin: 30px 0px;
  padding: 40px 30px;
  border-radius: 50px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.emailVerificationHeader {
  color: black;
  font-size: 40px;
}

.emailConfirmBtn {
  border-radius: 20px;
  color: #fff;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  width: 250px;
  border: none;
  margin: 15px 10px;
  border: 2px solid transparent;
}

.emailCancelBtn {
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  width: 250px;
  border: none;
  margin: 15px 10px;
  border: 2px solid white;
}
.emailCancelBtn:hover, .emailConfirmBtn:hover {
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  width: 250px;
  border: none;
  margin: 15px 10px;
  border: 2px solid #783937;
}

.emailInput{
  background-color: white;
  border-radius: 20px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}





#signUpContainer{
  margin: auto;
}

.mainRegistration{

  padding: 10px;
}
.mycolSignUp{
  padding-left: 0;
  padding-right: 0;
}
.xcolSignUp{
  padding-left: 50px;
  padding-right: 50px;
  width:500px;
}
#titleSignUp{
  font-weight: bold;
  color: #783937;
}
#btnOnSignUp{
  border-radius: 50px;
  color: #fff;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  border: none;
  width: 100%;
}
.spanSignUp{
  font-size: 15px;
  font-weight: bold;
}
.backToLogin{
  text-decoration: underline;
  color: #783937 !important;
}
.regForm {
  background-color: white;
  border-radius: 20px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}

/* TO-DO LIST */

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 70;
  left: 0;
  background-color: #403234;
  overflow-x: hidden;
  padding-top: 20px;
}
.todoContainer {
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

#toDO {
  margin: 5px;
  color: black;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  position: relative;
  margin: 10px 20px;
  display: block;
}
#todoDrop {
  font-size: 16px;
  color: black;
}
.sidenav a:hover {
  color: #f1f1f1;
}


#dropDown{
  background-color: #F0DFD1;
  padding: 25px;
}

#dropdownbtns{
  text-decoration: none;
  color: black;
  margin: 10px;
}

.todoCard {
  width: 350px;
  margin: 30px 5px;
  padding: 25px 30px 40px 30px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.todoTitle{
  font-size: 20px;
}

#todoBody{
  min-height: 580px;
  max-height: 580px;
  overflow-x: auto;

}
#todoMajorBody{
  min-height: 500px;
  max-height: 500px;
  overflow-x: auto;

}

.scroll {
  max-height: 100px;
  overflow-x: auto;
}


.subTask{
  min-height: 80px;
  max-height: 100%;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;

}
.collapse{
  height: 100%;
  background-color: white;
  position: overlay;
}
.wrapper{
  height: 100%;
  background-color: white;
  position: overlay;
  
}
.subTask:hover{
  min-height: 80px;
  max-height: 100%;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
  border: 1px solid #783937;

}
.moreBtn{
  border: 1px solid transparent;
  background-color: transparent;
}
.noteSubTask {
  height: 80px;
}

.addSubTask{
  height: 80px;
  width: 100%;
  background-color: #F0DFD1;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  
  margin-bottom: 10px;

}

#subTaskName:hover {
  color: #783937;
  cursor: pointer;
 
}

.todoTime {
  font-size: 14px;
}


.todoAddCard1 {
  width: 350px;
  margin: 30px 5px;
  padding: 25px 30px 40px 30px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



/* ROUTINES */
.titleRoutine{
  font-size: 38px;
  color: white;
  font-family: 'EB Garamond', serif;
  margin-bottom: 4px;
}
.routinesCard {
  width: 700px;
  height: 35px;
  max-height: 100%;
  margin: 30px;
  padding: 40px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.routinesCard:hover{
  width: 700px;
  height: 35px;
  max-height: 100%;
  margin: 30px;
  background: #403234;
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#routineName {
  font-size: 22px;
}
#routineTime {
  font-size: 22px;
}
#routineIcons {
  font-size: 16px;
}
#routineDrop {
  font-size: 16px;
  color: black;
}
#routineIcons:hover, #routineDrop:hover {
  font-size: 16px;
  color: white;
}

.subRoutines{
  max-height: 100%;
  background: transparent;
  margin: 45px 0px 0px 0px;
  border-radius: 20px;
  text-align: center;
 
}

.subRoutinesInfo{
  width: 680px;
  height: 12px;
  background: #F0DFD1;
  padding: 30px 20px 40px 20px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid transparent;
  color: black;
}

.subRoutinesInfoText{
  font-size: 18px;
  margin: 4px
}
.subRoutinesInfo:hover{
  width: 680px;
  height: 12px;
  background: #F0DFD1;
  padding: 30px 20px 40px 20px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #403234;
  color: black;
}

.indivSubRoutines{
  width: 680px;
  height: 24px;
  background: #F0DFD1;
  padding: 40px 20px;
  margin: 2px 0px 0px 0px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid transparent;
  color: black;
}

.indivSubRoutines:hover{
  width: 680px;
  height: 24px;
  background: #F0DFD1;
  padding: 40px 20px;
  margin: 2px 0px 0px 0px;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #403234;
  color: black;
}
#dropdownMenuButton{
  background: transparent;
}

/* VIEW ROUTINES */
.routineSummaryCard{ 
  width: 325px;
  margin: 30px 0px;
  background-color: #403234;
  min-height: 350px;
  max-height: 500px;
  color: white;
  padding: 35px 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 4px solid #403234;
}

.viewSubRoutineCard {
  width: 850px;
  margin: 30px 40px;
  padding: 35px 45px;
  min-height: 500px;
  max-height: 800px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: hidden;
}

.titleRoutine1 {
  font-size: 24px;
}
#routine_btn {
  border-radius: 25px;
  color: White;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  border: none;
  border: 2px solid #F0DFD1;
}
#routine_btn2 {
  border-radius: 25px;
  color: #fff;
  background-color: #783937;
  padding: 15px;
  cursor: pointer;
  border: none;
  border: 2px solid #888888;
}

#routine_btn2:hover, #routine_btn:hover {
  border-radius: 25px;
  color: #fff;
  background-color: #403234;
  padding: 15px;
  cursor: pointer;
  border: none;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.routineSess{
  font-size: 20px;
}

.routineNote {
  height: 100px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sessionsRoutine {
  overflow-y: scroll;
  min-height: 350px;
  max-height: 250px;
  width: 100%;
}
#timeRoutine {
  width: 80px;
  margin-top: 10px;
  border-radius: 5px;
  height: 40px;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display:none;
  margin-top: 2px;
}
#routineSessInput{
  width: 180px;
  height: 80px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 2px solid transparent;
  overflow: auto;
}
#routineNoteInput {
  min-height: 100px;
  max-height: 120px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 2px solid transparent;
  overflow-y: scroll;
  padding: 20px;
}
/* input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}*/

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} 


:invalid {
  background: #783937;
}
@media screen and (max-width: 992px) {
  .card1 {
      width: 100%;
      padding: 40px 30px 10px 30px;
      
  }

  .card2 {
      width: 100%;
  }

  .right {
      margin-top: 100px !important;
      margin-bottom: 100px !important;
  }
  .time {
    padding: 40px 30px !important;
  }
  .sidenav {padding-top: 15px;padding-right: 15px;}
  .sidenav a {font-size: 18px;}
  .todoCard {
    padding: 40px 30px;
  }
  .todoContainer {
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 10px !important;
  }

  .card2 {
      padding: 50px;
  }

  .right {
      margin-top: 50px !important;
      margin-bottom: 50px !important;
  }
  .time {
    padding: 40px 30px !important;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .todoContainer {
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 1400px) {
  .todoContainer {
    margin-left: 10% !important;
  }

}